/* Fondo de la tabla */
.table-view {
    -fx-background-color: #b1adbf; /* Fondo general oscuro */
    -fx-control-inner-background: #8169d3; /* Fondo interno */
    -fx-border-color: #020202; /* Color del borde */
}

/* Estilo para las filas */
.table-row-cell {
    -fx-background-color: transparent; /* Fondo por defecto */
    -fx-control-inner-background: #b1adbf; /* Fondo de las celdas */
}

/* Fila seleccionada */
.table-row-cell:selected {
    -fx-background-color: #4ECCA3; /* Fondo de la fila seleccionada */
    -fx-text-fill: #000000FF; /* Texto en fila seleccionada */
}

/* Encabezado de las columnas */
.table-view .column-header {
    -fx-background-color: #E0E0E0; /* Fondo del encabezado */
    -fx-border-color: #020202; /* Color del borde */
    -fx-text-fill: #1F1B24; /* Texto del encabezado */
}

/* Líneas divisorias entre celdas */
.table-view .table-cell {
    -fx-border-color: #3a3a3a; /* Bordes de las celdas */
    -fx-text-fill: #000000; /* Color del texto */
}