/* Fondo de la tabla */
.table-view {
    -fx-background-color: #1F1B24; /* Fondo general oscuro */
    -fx-control-inner-background: #1F1B24; /* Fondo interno */
    -fx-border-color: #4ECCA3; /* Color del borde */
}

/* Estilo para las filas */
.table-row-cell {
    -fx-background-color: transparent; /* Fondo por defecto */
    -fx-control-inner-background: #1F1B24; /* Fondo de las celdas */
    -fx-text-fill: #E0E0E0; /* Color de texto */
}

/* Fila seleccionada */
.table-row-cell:selected {
    -fx-background-color: #4ECCA3; /* Fondo de la fila seleccionada */
    -fx-text-fill: #000000FF; /* Texto en fila seleccionada */
}

/* Encabezado de las columnas */
.table-view .column-header {
    -fx-background-color: #4ECCA3; /* Fondo del encabezado */
    -fx-border-color: #1F1B24; /* Color del borde */
    -fx-text-fill: #1F1B24; /* Texto del encabezado */
}

/* Líneas divisorias entre celdas */
.table-view .table-cell {
    -fx-border-color:  #37306B; /* Bordes de las celdas */
    -fx-text-fill: #E0E0E0; /* Color del texto */
}