

/* Cambiar el fondo de la tabla */
.table-view {
    -fx-background-color: #b1adbf; /* Fondo general */
    -fx-control-inner-background: #8169d3; /* Fondo interno */
    -fx-border-color: #020202;
}

/* Cambiar el color de las filas */
.table-row-cell { /* Fondo por defecto */
    -fx-background-color: transparent; /* Fondo de las celdas */
    -fx-control-inner-background: #b1adbf; /* Color del texto */
}

.table-row-cell:selected {
    -fx-background-color: #fae574; /* Fondo de la fila seleccionada */
    -fx-text-fill: #00000000; /* Texto en fila seleccionada */
}

/* Cambiar encabezado de columnas */
.table-view .column-header {
    -fx-background-color: #E0E0E0; /* Fondo del encabezado */
    -fx-border-color: #020202;
    -fx-text-fill: #1F1B24; /* Texto del encabezado */
}

/* Cambiar las líneas divisorias */
.table-view .table-cell {
    -fx-border-color:  #3a3a3a; /* Bordes de las celdas */
    -fx-text-fill: #000000; /* Color del texto */
}